<% if @is_valid_coupon %>
  $('#coupon-field').removeClass('form-group has-error').addClass('form-group has-success');
  $('#sum').text("").append("<del><%= append_currency(@sum) %></del>");
  $('#discounted-price-row').show();
  $('#discounted-sum').text('<%= append_currency(@discounted_sum) %>');
  $('#discount-coupon-form').hide();
  $('#alert-msg').hide();
  $('#notice-msg').show();
  $("#notice-msg").html("<div class='alert alert-info' role='alert'><%= notice %></div>");
<% else %>
  $('#coupon-field').removeClass('form-group has-success').addClass('form-group has-error');
  $("#notice-msg").hide();
  $("#alert-msg").show();
  $('#alert-msg').html("<div class='alert alert-warning' role='alert'><%= alert %></div>");
<% end %>
