<h1>Your receipt details</h1>
<strong>Hi <%= @user.first_name %>,<strong>
<p>
  You have successfully transfered an amount of <%= @amount %> to shopify.
</p>
<p>
  Your shipping address: <%= @address %>
</p>
<p>Thanks for purchasing and have a great day!</p>
