<h1>Order Detail</h1>
<p>
  <b>Amount:</b>
  <%= append_currency(@order.amount) %>
</p>

<% if @order.discount %>
  <div>
    <strong>Discount:</strong>
    <%= append_currency(@order.discount) %>
  </div>
<% end %>

<p>
  <b>Shipping Address:</b>
  <%= @order.shipping_address %>
</p>

<%= link_to 'Buy More Products', root_path, class: "btn btn-success" %>
