<p>
  <b>Amount:</b>
  <%= @order.amount %>
</p>

<% if @order.discount %>
  <div>
    <strong>Discount:</strong>
    <%= @order.discount %>
  </div>
<% end %>

<p>
  <b>Shipping Address:</b>
  <%= @order.shipping_address %>
</p>

<%= link_to 'Back', root_path %>
